
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
}

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.container {
}

.container .mat-drawer {
    min-width: 200px;
}

.container .mat-drawer .mat-button {
    display: block;
    width: 100%;
    text-align: left;
}

.spacer {
    flex: 1 1 auto;
}

.myButt {
    margin-left: 15px!important;
}

.form {
    width: 75%;
    height: 100px;
    margin: auto;
}

.innerForm {
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 5%;
}

.inputBox {
    height: 30px;
    padding: 5px;
    border: none;
}

.inputBox:focus {
    box-shadow: 5px 10px 8px #888888;
}

.formTitle {
    margin-top: 5px;
}

hr {
    width: 75%!important;
}

mat-list-item {
}


center {
    margin: auto;
}