  
<form class="form" (ngSubmit)="onSubmit()" [formGroup]="loc">
  <div class="innerForm">
    <input matInput formControlName="content" placeholder="Location">
    <button mat-raised-button class="myButt" color="primary" type="submit">Search</button>
  </div>
</form>


<hr>
<div class="center" *ngFor='let tweet of tweets'>

    <mat-list>
      <mat-list-item>
        Name: {{ tweet.name }}
      </mat-list-item>
      <mat-list-item>
        Tweet Count: {{ tweet.tweets }}
      </mat-list-item>
      <mat-list-item>
        <a target="blank" href="{{ tweet.url }}">Url</a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  
  </div>
