<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav">
        <button color="primary" mat-button routerLink="#">Example</button>
        <button color="primary" mat-button routerLink="#">Example</button>
        <button color="primary" mat-button routerLink="#">Example</button>
    </mat-drawer>
    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <span>Project Trending</span>
                <span class="spacer"></span>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-tab-group>
            <mat-tab label="Global Trends">
                <router-outlet></router-outlet>
            </mat-tab>
            <mat-tab label="Location Based Trends">
                <app-location-trends></app-location-trends>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-drawer-container>