<mat-drawer-container class="container" autosize>
    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Project Trending</span>
                <span class="spacer"></span>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
