
<div class="location">
  <form class="locInput" (ngSubmit)="onSubmit()" [formGroup]="loc">
    <input placeholder="text.." name="loc" formControlName="content" cols="25" rows="1">
    <button mat-raised-button class="myButt" color="primary" type="submit">Search</button>
  </form>
</div>


<hr>
<div *ngFor='let tweet of tweets'>

    <mat-list>
      <mat-list-item>
        Name: {{ tweet.name }}
      </mat-list-item>
      <mat-list-item>
        Tweet Count: {{ tweet.tweets }}
      </mat-list-item>
      <mat-list-item>
        <a target="blank" href="{{ tweet.url }}">Url</a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  
  </div>
