<div class="center" style="margin-left: 10px;">
  <h1>Global Trending Topics</h1>

  <div *ngIf="trends;else other_content">


    <div *ngFor='let tweet of trends'>
      <mat-list>
        <mat-list-item>
          Name: {{ tweet.name }}
          <br>
          Tweet Count: {{ tweet.tweets }}
          <br>
        </mat-list-item>
        <mat-list-item>
          <a target="blank" href="{{ tweet.url }}">Url</a>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"></mat-paginator>
  </div>

  <ng-template #other_content>No Tweets available...</ng-template>
</div>